.btn {
    padding: 15px 36px;
    font-size: var(--font-size-medium-text);
    font-weight: 500;
    background-color: #00000000;
    border-radius: 30px;
    border: 1px solid var(--color-black);
    color: var(--color-black);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    scale: 1.05;
}