.content{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap:156px
}
.photo{
    width: 504px;
    height: 504px;
    border-radius: 30px;
}
.col2{
    display: flex;
    flex-direction: row;
    gap:60px;
    margin-top: 76px;

}