.row, .row2{
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 100%;
}
.row2{
    align-items: center;
    .col2{
        margin-top: 0;
    }
}
.col1{
    display: flex;
    flex-direction: column;
    width: 900px;
    gap: 60px;
}
.micro{
    display: flex;
    justify-content: space-between;
}
.circle {
    margin-top: 60px;
    width: 166px;
    height: 166px;
    border-radius: 100%;
}
.col2 {
    width: 504px;
    flex-direction: column;
    gap: 44px;
    margin-top: 76px;
    display: flex;
}
.image{
    display: flex;
    flex-direction: column;
    gap: 16px;
    img{
        border-radius: 30px;
        width: 100%;
        height: auto;
    }
}
.description{
    font-weight: 400;
    font-size: var(--font-size-tiny-text);
    line-height: 1.14286;
    color: var(--color-text-gray);
}
.full {
    width: 100%;
}