.block {
    display: flex;
    flex-direction: column;
    gap:60px;
    width: 1560px;
    align-items: flex-end;
    margin: 0 auto 120px auto;
}
.title{
    display: inline-flex;
    gap:32px;
}
.row2 {
    display: inline-flex;
    gap:24px;
}