/* Player.module.scss */
.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
    border-radius: 10px;
    height: 72px;
    padding: 8px 180px 0 180px;
    position: fixed;
    width: 100%;
    left: 0;
    bottom:0;
    z-index: 300;
}

.trackProgressContainer {
    display: flex;
    align-items: center;

}

input[type="range"] {
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    background: transparent; /* Убедитесь, что фон прозрачный */
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
    border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1px;
    height: 5px;
    background: var(--color-rose);
    cursor: pointer;
}

.control {
    display: flex;
    gap: 16px;
}
.volumeControl {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0!important;
}

.iconButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0!important;
    height: 32px;
    *{
        width: 32px !important;
        height: 32px !important;
    }
}

.icon {
    width: 32px;
    height: 32px;
    fill: #333;
}
.content {
    display: flex;
    flex-direction: row;
    gap:16px;
    align-items: center;
    width: 964px;
    text-align: left;
}
.col{
    display: flex;
    flex-direction: column;
}
.img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.type{
    font-weight: 400;
    font-size: var(--font-size-minuscule-text);
    line-height: 1.16667;
}
.name{
    font-weight: 500;
    font-size: var(--font-size-medium-text);
    line-height: 1.25;
}
.artist{
    font-weight: 400;
    font-size: var(--font-size-tiny-text);
    line-height: 1.14286;
}
.close{
    border-radius: 100px;
    padding: 10px;
    width: 44px;
    height: 44px;
    background: #dee6f4;
    border:none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover{
        scale: 1.05;
    }
}
.lastSection{
    display: flex;
    gap: 40px;
    align-items: center;
}